<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->

  <head>

    <r:comment><!-- meta charset gets set automatically by CleanSlate --></r:comment>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><r:page:first_non_blank_attr names="title, name" /> | <r:site_name /> | West Virginia University</title>
    <meta name="description" content="<r:page:meta_description />" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="http://fast.fonts.net/jsapi/fab0a2ef-9f52-4231-87e2-c556bf9c1993.js"></script>
    <r:include_stylesheet name="styles" />

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
    <!-- HTML5 Shiv is *required* for IE to recognize HTML5 tags. -->

  </head>

  <body class="<r:page:template:name /> page-<r:page:id />">

    <r:yield />

    <r:partial name="layouts/browser-update-org--v1" theme="Code" />

    <!-- Fix IE 8 and below so that media queries get supported -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  </body>
</html>