---
layout: default
---

<header>

  <div class="wvu-wireframe__label">WVU Masthead</div>
  <r:partial name="patterns/wvu-masthead" />
  <r:editable_region name="site-title" />

</header>

    
<main role="main">

  <div class="wvu-wireframe__label">Site Title</div>
  <r:partial name="patterns/site-title" />
  <r:editable_region name="site-title" />

  <div class="wvu-wireframe__label">Typography</div>
  <r:partial name="patterns/typography" />
  <r:editable_region name="typography" />

  <div class="wvu-wireframe__label">WVU Footer</div>
  <r:partial name="patterns/wvu-footer" />
  <r:editable_region name="wvu-footer" class="wvu-wireframe__description"/>

</main>