---
layout: default
---
    
<main role="main">

	<div class="wireframe__label">WVU Masthead</div>
  <r:partial name="patterns/wvu-masthead" />
  <r:editable_region name="masthead" />

  <div class="wireframe__label">Site Title</div>
  <r:partial name="patterns/site-title" />
  <r:editable_region name="site-title" />

  <div class="wireframe__label">Typography</div>
  <r:partial name="patterns/typography" />
  <r:editable_region name="typography" />

  <div class="wireframe__label">WVU Footer</div>
  <r:partial name="patterns/wvu-footer" />
  <r:editable_region name="wvu-footer" />

</main><!-- /.main__frontpage -->