// Site Title
//==================================================

.site-title {
  font-size: 32px;
  line-height: 58px;
  margin: 29px 0;
  width: 100%; 
  display: block; 
  text-transform: uppercase;
}
