// Wireframe Label Styles
//==================================================

.wireframe__label {
	width: 100%;
	margin: 0 auto $unit*3;	
	clear: both;
	border-bottom: solid 1px $grey;
	font-size: $unit*2;
	color: $grey-blue-medium;
	padding: $unit*8 0 0 $unit*2;
	letter-spacing: 1px;
}