<!-- WVU Footer Links - pattern-library/views/patterns/_wvu-footer__links.html -->

<div class="wvu-footer__links">
  <ul class="wvu-footer__auxillary-links">
    <li><a href="http://www.wvuf.org/">Give</a></li>
    <li><a href="http://myaccess.wvu.edu/">MyAccess</a></li>
    <li><a href="http://careerservices.wvu.edu/mountaineertraklogins">MountaineerTRAK</a></li>
    <li><a href="http://emergency.wvu.edu/alert/">WVU Alert</a></li>
    <li><a href="http://wvutoday.wvu.edu">WVU Today</a></li>
    <li><a href="http://mix.wvu.edu/">MIX</a></li>
  </ul>
  
  <ul class="wvu-footer__social">
    <li><a class="wvu-facebook" href="http://www.facebook.com/wvumountaineers">WVU on Facebook</a></li>
    <li><a class="wvu-twitter" href="https://twitter.com/WestVirginiaU/">WVU on Twitter</a></li>
    <li><a class="wvu-youtube" href="http://videos.wvu.edu">WVU on YouTube</a></li>
  </ul>
</div> <!-- /.wvu-footer__links -->