<!-- WVU Footer Credits - pattern-library/views/patterns/_wvu-footer__credits.html -->

<div class="wvu-footer__credits" role="contentinfo">
  <ul>
    <li><a href="http://about.wvu.edu/wvu-facts">Accreditations</a></li>
    <li><a href="http://brand.wvu.edu/web-standards">Web Standards</a></li>
    <li><a href="mailto:web_services@mail.wvu.edu">Questions or Comments?</a></li>
  </ul>
  
  <p>&copy; 2013 West Virginia University. West Virginia University is an Equal Opportunity/Affirmative Action institution.</p>
</div> <!-- /.wvu-footer__credits -->